{% extends "default/index.html.twig" %}

{% block content %}

<div id="content">
    {% set i = 1 %}
    {% for thread in threads %}
        <div class="thread-content">
            <div>
                {{ i }} - <a href="{{ thread.link }}">{{ thread.title }}</a> - {{ thread.date|date("m/d/Y") }} - votes : {{ thread.score }} - <a href="{{ path('vote', {'id': thread.id}) }}">up</a>
            </div>
            <div>
                <a href="{{ path('thread', {'id': thread.id}) }}">{{ thread.comments|length }} comments</a>
            </div>
            {% set i = i+1 %}
        </div>
    {% endfor %}
</div>

{% endblock %}