{% extends "default/index.html.twig" %}

{% block content %}
    <div class="content">
        <div>
            <a href="{{ thread.link }}">{{ thread.title }}</a>
        </div>
        <div>
            Added by {{ thread.addedBy }} on {{ thread.date|date("Y-m-d") }} - votes : {{ thread.score }}
        </div>

        <hr/>
        <h2>Comments</h2>

        {{ render(controller(
            'AppBundle:Default:addComment',
            { 'id': thread.id }
        )) }}

        {% if comments|length == 0 %}
            No comments
        {% else %}
            {% for comment in comments %}
                <div class="mb-2">
                    {{ comment.username }} on {{ comment.date|date("Y-m-d") }}<br/>
                    {{ comment.text }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}